certifi==2024.2.2 ; python_version >= "3.12"
charset-normalizer==3.3.2 ; python_version >= "3.12"
idna==3.10 ; python_version >= "3.12"
influxdb==5.3.2 ; python_version >= "3.12"
msgpack==1.1.0 ; python_version >= "3.12"
python-dateutil==2.9.0.post0 ; python_version >= "3.12"
pytz==2024.1 ; python_version >= "3.12"
requests==2.32.3 ; python_version >= "3.12"
six==1.17.0 ; python_version >= "3.12"
urllib3==2.2.1 ; python_version >= "3.12"
